[{boss, [
    {path, "/Users/edtsech/ChicagoBoss-0.7.3"},
    {vm_cookie, "abc123"},
    {applications, [pulse]},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, pulse},
    {db_write_mode, safe},
    {db_read_mode, master},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ pulse, [
    {path, "../pulse"},
    {base_url, "/"}
]}
].